{% extends 'navbar.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{user.name}}</td>
            <td><a class="btn btn-primary" href="{% url 'send_event_invite' event_id=event_id user_id=user.id %}">Invite</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
</div>
